* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}
    /* For mobile: */
.hero {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(0deg, rgba(34, 38, 41, 1) 0%, rgba(34, 38, 41, 0.6278712168461135) 34%, rgba(0, 212, 255, 0) 100%), url('/img/hero-S.png');
    background-size: cover;
    background-position: center;
    background-color: #222629;
}
@media only screen and (min-width: 800px) {
    /* For desktop: */
.hero {
    background-image: linear-gradient(0deg, rgba(34, 38, 41, 1) 0%, rgba(34, 38, 41, 0.6278712168461135) 34%, rgba(0, 212, 255, 0) 100%), url('/img/hero-M.png');
}
}

@media only screen and (min-width: 1072px) {
    /* For desktop: */
.hero {
    background-image: linear-gradient(0deg, rgba(34, 38, 41, 1) 0%, rgba(34, 38, 41, 0.6278712168461135) 34%, rgba(0, 212, 255, 0) 100%), url('/img/hero-L.png');
}
}

span {
    color: #86c232;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    font-size: 1em;
    color: rgb(238, 239, 240);
    text-decoration: none;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #86c232;
    transition: .4s;
}

.logo {
    color: rgb(238, 239, 240);

}

.hero-content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 10px 0px 10px;
    font-size: 3vw;
}

h3 {
    color: white;
    font-weight: 400;
    font-size: 1.15vw;
    margin-bottom: 50px;
}

h4 {
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.36vw;
}